<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Home Pokémon</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
    <header>
        <h1 class="data-font highlight-color">Bem-vindo ao Mundo Pokémon!</h1>
    </header>

    <main>
        <div class="container">
            <div class="row">
                <div class="col">
                    <a href="/pokemons" class="btn btn-primary btn-pokedex go-find-pokemon">Pokedex</a>
                    <a href="/batalha" class="btn btn-primary btn-pokedex go-find-pokemon">Ir para Batalha</a>
                </div>
            </div>
        </div>
    </main>

    <div id="battle-pre-loading">Carregando...</div>

    <script src="/javascripts/home.js" type="text/javascript"></script>
</body>
</html>
